
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: url('../image/background.jpg') no-repeat center center fixed;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    margin-top: 20px;
    text-align: left;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #f6a105;
}

.container {
    width: 60%;
    margin: auto;

}

form {
    margin: 2em 0;
}

label {
    display: block;
    margin-bottom: 0.5em;
}


input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

input[type="submit"] {
    width: 101.7%;
    background-color: #5b483d;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #673404;
}

.social-icons {
    margin-top: 2em;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a:hover {
    background-color: #f6a105;
    border-radius: 35%;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}