body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: url('../image/background.jpg') no-repeat center center fixed;
  padding: 20px;
  color: #ffffff;
}

nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.image-container {
  width: 400px;
  height: 495px;
  margin: 5px;
}

.gallery {
  display:flex;
  grid-gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.gallery img {

  cursor: pointer;
  width: 100%;
}

.caption {
  width: 200px;
  height: 0px;
  background-color: #ffffff;
  padding: 90px;
}

.video-container {
  margin: 60px;
  display: flex;
  align-items: center;
}

.video-description {
  font-style: Monospace;
  color: #ff7300;
  margin-top: 10px;
  flex: 0 0 30%;
  margin-left: 20px;
}

.video-wrapper {
  flex: 0 0 60%;
}

.video-container video {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

section {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}