body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: url('../image/background.jpg') no-repeat center center fixed;
  padding: 20px;
  color: #ffffff;
}

nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
}

main {
  padding: 20px;
}

footer {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}

.image-container {
  border: 4px solid #ccc;
  border-radius: 5px;
  width: 400px;
  height: 495px;
  margin: 5px;
}

.gallery {
  display:flex;
  grid-gap: 60px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}


.gallery img {

  cursor: pointer;
  width: 100%;
}

.caption {
  width: 200px;
  height: 100px;
  background-color: #f2f2f2;
  padding: 90px;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.scroll-button:hover {
  opacity: 1;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.scroll-button:hover {
  opacity: 1;
}


.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.scroll-button:hover {
  opacity: 1;
}

.gallery-image {
  width: 100px;
  height: 300px;
}

.video-container {
  margin: 60px;
}

.video-description {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

.video-container {
  display: flex;
  align-items: center;
}

.video-wrapper {
  flex: 0 0 60%;
}

.video-description {
  flex: 0 0 30%;
  margin-left: 20px;
}

.video-container video {
  max-width: 100%;
  height: auto;
}

h1 {
  text-align: center;
}

.lightbox {
  display: table;
  transition-duration: 1s;

  position: fixed;
  top: -168%;
  left: 100;
  width: 10;
  height: 1%;
  background: rgba(0, 0, 0, 0.7);
}
.lightbox:target {
  top: 0;
}

.lightbox-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: black;
}

.lightbox img {
  max-width: 74%;
  height: auto;
}